/* Custom styles */
body{font-family:Inter,ui-sans-serif,system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial}
.no-print{display:inline}
@media print{.no-print{display:none} aside, header, nav, footer {display:none}} 
